* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login_bg_div{
  z-index: -1;
  position: absolute;
  background-image: url('./assets/bgw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  animation: rotate 15s linear infinite;

}

@keyframes rotate {
  0%{
    transform: scale(1.0);
  }
  25%{
    transform: scale(1.025);
  }
  50%{
    transform: scale(1.050);
  }
  75%{
    transform: scale(1.025);
  }
  100%{
    transform: scale(1.0);
  }
}

#login_aside{
  width: 20%;
}

#login_img,#logo_img{
  width: 80%;
}

#app_aside{
  width: 80px;
  transition: width ease-out 0.3s;
}

#app_aside:hover,
#app_aside.active{
  width: 200px;
}

#app_aside span{
  display: none;
}

#app_aside:hover span,
#app_aside.active span{
  display: block;
}

#app_aside .menu_option{
  padding: 10px;
  cursor: pointer;

}

#app_aside:hover .menu_option,
#app_aside.active .menu_option{
  padding-left: 2rem;
  border-left: 2px solid transparent;
}

#app_aside:hover .menu_option:hover,
#app_aside.active .menu_option:hover{
  border-left: 2px solid white;
  background-color: rgba(39, 39, 56, 0.7);

}

#app_aside:hover .user_info,
#app_aside.active .user_info{
  cursor: pointer;
}


main{
  background-color: rgba(255,255,255,1);
  width: 95%;
  overflow: hidden;
}

.app_bg_div{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
  
}

.login_form{
  background-color: rgba(0,0,0,0.3);

}

.compras_main main article{
  max-height: 90%;
}

main.creando_nuevo{
  background-color: rgba(255,255,255,0.4);
}

.h-transition{
  transition: max-height linear 0.5s;
  transition: padding linear 0.3s;
  max-height: 500px;
}

.h-0{
  max-height: 0;
  padding: 0;
}

.w-0{
  width: 0;
}

.w-70{
  width: 70%;
}

.w-30{
  width: 30%;
}

.bg_div_color{
  background-color: rgba(0,0,0,0.6) !important;
}

.bg_lightgreen{
  background-color: rgba(144, 238, 144, 0.658);
}

.fs-min{
  font-size: 13px;
}