.compras_main #loading_img{
  height: 100%;
}

.compras_main .edition_div{
  width: 25%;
}

.compras_main .form_section{
  border-right: 2px solid lightgrey;

}

.compras_main .main_div{
  width: 75%;
}

.compras_main .table_section{
  width: 100%;
  max-height: 500px;
  overflow : scroll;
}

.compras_main table {
  white-space: nowrap;
  font-size: 16px;
}

.compras_main thead tr{
  position: sticky;
  top: 0;
}

.compras_main tr:hover{
  background-color: rgb(220,220,220);
  cursor: pointer;
}

.compras_main tr.eliminando {
  animation: deleting 0.3s infinite;
}

@keyframes deleting {
  0% {
    background-color: rgba(255,0,0,0);
  }
  50% {
    background-color: rgba(255,0,0,0.20);
  }
}

.compras_main tr.editando {
  animation: editando 1.5s infinite;
}

@keyframes editando {
  0% {
    background-color: rgba(0,0,255,0);
  }
  50% {
    background-color: rgba(0,0,255,0.20);
  }
}

.compras_main th,
.compras_main td{
  padding: 7px;
}

.compras_main tr :first-child{
  display: none;
}

.compras_main tbody tr{
  border-bottom: 1px solid lightgrey;
}

.compras_main tbody tr.active{
  background-color: rgb(83,108,255);
  color : white;
}

.compras_main .th_numero{
  width: 8%;
}

.compras_main .th_texto{
  width: 20%;
}

.compras_main #resumen_estatus_list li:hover{
  background-color: rgb(212, 218, 250);
}

.compras_main .resumen_section *{
  font-size: 15px !important;
}

.compras_main main.creando_nuevo .form_section{
  z-index: 10;
  background-color: white;
}
